<!-- <div class="bodymain">
    <section>
        <div class="container d-flex">
            <div class="cart-table-container pos-relative">
                <div class="shopping-cart-wrap bg-white">
                    <table class="shopping-cart-table ">
                        <thead>
                            <tr class="table-head">
                                <th class="column-1"></th>
                                <th class="column-2">Id</th>
                                <th class="column-3">Name</th>
                                <th class="column-4">Price</th>
                                <th class="column-5 p-l-70">Quantity</th>
                                <th class="column-6">Status</th>
                                <th class="column-7">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row" *ngFor="let product of products">
                                <td class="column-1">
                                    <div class="cart-img-container">
                                        <img [src]=" url+ product.id" alt="{{ product.name }}">
                                    </div>
                                </td>
                                <td class="column-2">{{ product.id }}</td>
                                <td class="column-3">{{ product.product_name }}</td>
                                <td class="column-4">{{ product.price_per_piece | currency: '฿' }}</td>
                                <td class="column-5">{{ product.stock_quantity }}</td>
                                <td class="column-6">{{ product.product_status }}
                                </td>
                                <td class="column-7">
                                    <button mat-button class=" rounded-btn"
                                        (click)="editProduct(product.id)">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div> -->

<section class="container">
    <div class="px-2 px-lg-4 mt-1">
        <div class="row gx-3 gx-md-4 gx-xl-5 row-cols-1 row-cols-md-2 row-cols-xl-6">
            <div class="col product-item" *ngFor="let product of products">
                <div class="card h-100 border-0 rounded-0"
                    *ngIf="product.product_status && product.price_per_piece !== 0 && product.stock_quantity !== 0">
                    <a href="" (click)="editProduct(product.id)" class="text-decoration-none">
                        <img class="card-img-top" [src]=" url+ product.id" alt="Product Image" />
                        <div class="p-2">
                            <div class="text-center">
                                <h5 class="fw-bolder text-dark">{{ product.product_name }}</h5>
                                <h5 class="custom-text">
                                    {{ product.price_per_piece | currency: '฿' }}
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>