<div class="container ">
<div class="rounded bg-white mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class=" mt-5"
                    height="500px" src="../../../../assets/images/screenshot_20240124_143340.png">
                    <!-- <span class="font-weight-bold">qr code promptpay</span>
                    <span class="text-black-50">promptpay</span> -->
                    <span>
                </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <!-- <div class="col-md-12"><label class="labels">Shop name</label><input type="text"
                            class="form-control" placeholder="Shop name" value=""></div>
                    <div class="col-md-12"><label class="labels">Shop tax</label><input type="text"
                            class="form-control" placeholder="shoptax" value=""></div> -->
                    <div class="col-md-12"><label class="labels">Full Name</label><input type="text" class="form-control"
                            placeholder="Fullname" value="" [attr.disabled]="true"></div>
                    <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control"
                            placeholder="Address" value="" [attr.disabled]="true"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Phone</label><input type="text" class="form-control"
                            placeholder="phone" value="" [attr.disabled]="true"></div>
                    <div class="col-md-6"><label class="labels">Postal Code</label><input type="text"
                            class="form-control" value="" placeholder="postalcode" [attr.disabled]="true"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-outline-success profile-button" type="button">Save
                        Profile</button></div>
            </div>
        </div>
    </div>
</div>
</div>