<div *ngIf="isLoggedIn" [ngSwitch]="menuType">
    <ul *ngSwitchCase="'seller'" class="list-group">
        <div *ngFor="let seller of sellerall">
            <div class="container-fluid table-bordered-floating " style="width: 220px;">
                <div class="row">
                    <nav id="sidebar" class=" d-md-block bg-light sidebar min-vh-100">
                        <div class="position-sticky">
                            <ul class="nav flex-column mt-4">
                                <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                    <button class="nav-link text-dark" [routerLink]="['/setting/account-shop']">
                                        <i class="bi bi-person"></i> <span class="ms-2"> บัญชี</span>
                                    </button>
                                </li>
                                <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                    <button class="nav-link text-dark" [routerLink]="['/index']">
                                        <i class="bi bi-gear"></i>
                                        <span class="ms-2"> ร้านค้า</span>
                                    </button>
                                </li>
                                <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                    <button class="nav-link text-dark" [routerLink]="['/setting/all']">
                                        <i class="bi bi-cart3"></i> <span class="ms-2"> สินค้าทั้งหมด</span>
                                    </button>
                                </li>
                                <!-- <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                    <button class="nav-link text-dark" [routerLink]="['/setting/manage_porders']">
                                        <i class="bi bi-pin-angle"></i> <span class="ms-2"> จักการคำสั่งซื้อ</span>
                                    </button>
                                </li> -->
                                <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                    <button class="nav-link text-dark" [routerLink]="['/setting/receipt']">
                                        <i class="bi bi-receipt-cutoff"></i> <span class="ms-2"> ใบเสร็จ /
                                            จักการ</span>
                                    </button>
                                </li>
                                <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                    <button class="nav-link text-dark" (click)="logoutSwal()">
                                        <i class="bi bi-person-x"></i> <span class="ms-2"> ออกจากระบบ</span>
                                    </button>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </ul>

    <div *ngIf="userall">
        <ul *ngSwitchCase="'user'" class="list-group">
            <div *ngFor="let user of userall">
                <div class="container-fluid table-bordered-floating" style="width: 220px;">
                    <div class="row">
                        <nav id="sidebar" class=" d-md-block bg-light sidebar min-vh-100">
                            <div class="position-sticky">
                                <ul class="nav flex-column mt-3">
                                    <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                        <button class="nav-link text-dark" [routerLink]="['/setting/account']">
                                            <i class="bi bi-person"></i> <span class="ms-2"> บัญชี</span>
                                        </button>
                                    </li>
                                    <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                        <button class="nav-link text-dark" [routerLink]="['/setting/cargo']">
                                            <i class="bi bi-cart3"></i> <span class="ms-2"> ตะกร้าสินค้า</span>
                                        </button>
                                    </li>
                                    <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                        <button class="nav-link text-dark" [routerLink]="['/setting/history']">
                                            <i class="bi bi-cart3"></i> <span class="ms-2"> ประวัติการสั่งซื้อ</span>
                                        </button>
                                    </li>
                                    <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                        <button class="nav-link text-dark" [routerLink]="['/index']">
                                            <i class="bi bi-receipt-cutoff"></i> <span class="ms-2"> ใบเสร็จ</span>
                                        </button>
                                    </li>
                                    <li class="" style="margin-bottom: 5px; font-size: 17px;">
                                        <button class="nav-link text-dark" (click)="logoutSwal()">
                                            <i class="bi bi-person-x"></i> <span class="ms-2"> ออกจากระบบ</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>