<header class="header">
    <a class="logo" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path
                d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z" />
        </svg>
    </a>
    <nav class="navbar">
        <a href="/login/user">
            user
        </a>
        <a href="/login/seller">
            seller
        </a>
    </nav>
</header>

<body>
    <div class="signin" class="signin" *ngIf="isSignIn; else signup">
        <div class="content">
            <h2>Seller Login</h2>
            <div class="form">
                <div class="inputBox">
                    <input type="text" [(ngModel)]="username" name="username" required>
                    <i>Username</i>
                    <div *ngIf="isLoginFailed" class="error-message">
                        {{ errorMessage }}
                    </div>
                </div>
                <div class="inputBox">
                    <input type="password" [(ngModel)]="password_hash" name="password" required
                        (keyup.enter)="onClickSubmitLogin()">
                    <i>Password</i>
                    <div *ngIf="isLoginFailed" class="error-message">
                        {{ errorMessage }}
                    </div>
                </div>
                <div class="links">
                    <a></a>
                    <div class="button2 button2-normal" (click)="toggleSignIn()">Signup</div>
                </div>
                <div class="button button-normal">
                    <button (click)="onClickSubmitLogin()" class="button button-normal">Login</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #signup>
        <div class="signup">
            <div class="content">
                <h2>Sign Up</h2>
                <div class="form">
                    <div class="inputBox">
                        <input type="text" [(ngModel)]="username" name="username" required>
                        <i>Username</i>
                        <!-- <div *ngIf="isLoginFailed" class="error-message">
                    {{ errorMessage }}
                  </div> -->
                        <div *ngFor="let errorMessage of errorMessages" class="error-message">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="inputBox">
                        <input type="password" [(ngModel)]="password_hash" name="password" required>
                        <i>Password</i>
                        <!-- <div *ngIf="isLoginFailed" class="error-message">
                  {{ errorMessage }}
                </div> -->
                        <div *ngFor="let errorMessage of errorMessages" class="error-message">
                            {{ errorMessage }}
                        </div>
                    </div>
                    <div class="inputBox">
                        <input type="text" [(ngModel)]="name" name="name" required>
                        <i>Name</i>
                    </div>
                    <div class="links">
                        <a></a>
                        <div class="button2 button2-normal" (click)="toggleSignIn()">Sigin</div>
                    </div>
                    <div class="button button-normal">
                        <button (click)="onClickSubmitRegister()" class="button button-normal">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</body>